.app-container {
  background-color: #6b00f5; /* Background color for the whole app */
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.todo-container {
  background-color: #1a0d7a; /* Dark background color for the todo container */
  width: 90%;
  max-width: 500px;
}



.custom-list-item {
  background-color: #8257e5; /* Custom background for the list items */
}

.btn-link {
  color: rgb(25, 19, 19);
}
